header {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);
}

.search {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1 rem;
    color: #fff;
}

.search::placeholder {
    color: #7378c5;
}

.search:focus {
    outline: none;
    background-color: var(--primary-color);
}


nav.active {
    width: 10rem;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    position: relative;
    padding: 10px;
    margin: 0 10px;
}