@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
    --primary-color: #0b132b;
    --secondary-color: #37839c;
    --first-color:#fcd86b;
    --hover-color:#a763f6;
    --bg-color:#ffffff;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    margin: 0;
    width: 100%;
}

